<h1>Courses</h1>

{{#if courses.length}}
{{#each courses}}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content center-align">
        <p class="card-title">{{title}}</p>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action center-align with-form">
        <a href="/courses/{{id}}" target="_blank" rel="noopener noreferrer">Open this course</a>
        {{#if @root.isAuth}}
        <a href="/courses/{{id}}/edit?allow=true">Update this course</a>
        <form action="/cart/add" method="POST">
          <input type="hidden" name="_csrf" value="{{@root.csrf}}">
          <input type="hidden" name="id" value="{{id}}">
          <button class="btn waves-effect waves-light" type="submit">
            <i class="material-icons">add_shopping_cart</i>
          </button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each }}
{{else }}
<p>No courses available.</p>
{{/if }}